@import "tailwindcss";

@theme {
  --color-background: hsl(229 57% 100%);
  --color-foreground: hsl(229 63% 4%);
  --color-muted: hsl(229 12% 86%);
  --color-muted-foreground: hsl(229 10% 37%);
  --color-popover: hsl(0 0% 99%);
  --color-popover-foreground: hsl(229 63% 3%);
  --color-card: hsl(0 0% 99%);
  --color-card-foreground: hsl(229 63% 3%);
  --color-border: hsl(220 13% 91%);
  --color-input: hsl(220 13% 91%);
  --color-primary: hsl(355.63 90.57% 58.43%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(229 20% 90%);
  --color-secondary-foreground: hsl(229 20% 30%);
  --color-accent: hsl(229 28% 85%);
  --color-accent-foreground: hsl(229 28% 25%);
  --color-destructive: hsl(3 100% 50%);
  --color-destructive-foreground: hsl(3 0% 100%);
  --color-ring: hsl(229 100% 62%);
  --color-chart-1: hsl(355.63 90.57% 58.43%);
  --color-chart-2: hsl(229 20% 90%);
  --color-chart-3: hsl(229 28% 85%);
  --color-chart-4: hsl(229 20% 93%);
  --color-chart-5: hsl(355.63 93.57% 58.43%);

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

.dark {
  --color-background: hsl(229 41% 4%);
  --color-foreground: hsl(229 23% 99%);
  --color-muted: hsl(229 12% 14%);
  --color-muted-foreground: hsl(229 10% 63%);
  --color-popover: hsl(229 41% 5%);
  --color-popover-foreground: hsl(0 0% 100%);
  --color-card: hsl(229 41% 5%);
  --color-card-foreground: hsl(0 0% 100%);
  --color-border: hsl(215 27.9% 16.9%);
  --color-input: hsl(215 27.9% 16.9%);
  --color-primary: hsl(355.63 90.57% 58.43%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(229 14% 8%);
  --color-secondary-foreground: hsl(229 14% 68%);
  --color-accent: hsl(229 23% 17%);
  --color-accent-foreground: hsl(229 23% 77%);
  --color-destructive: hsl(3 89% 54%);
  --color-destructive-foreground: hsl(0 0% 100%);
  --color-ring: hsl(229 100% 62%);
  --color-chart-1: hsl(355.63 90.57% 58.43%);
  --color-chart-2: hsl(229 14% 8%);
  --color-chart-3: hsl(229 23% 17%);
  --color-chart-4: hsl(229 14% 11%);
  --color-chart-5: hsl(355.63 93.57% 58.43%);
}

.hexagon-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.hexagon-container::before {
  content: "";
  position: absolute;
  inset: -20px;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.3), transparent 80%);
  z-index: -1;
  filter: blur(15px);
}

.hexagon-image {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  --sb-track-color: #f0f0f0; /* Fundo claro */
  --sb-thumb-color: #ff6b6b; /* Thumb vermelho claro */
  --sb-size: 12px;
}

/* Scrollbar para Light Mode */
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

/* Scrollbar para Dark Mode */
.dark body {
  --sb-track-color: #09090f; /* Fundo escuro */
  --sb-thumb-color: #f53543; /* Thumb vermelho mais forte */
}

* {
  border-color: var(--color-border);
  outline-color: color-mix(in srgb, var(--color-ring) 50%, transparent);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
