@import "tailwindcss";

@theme {
  --color-background: hsl(229 57% 100%);
  --color-foreground: hsl(229 63% 4%);
  --color-muted: hsl(229 12% 86%);
  --color-muted-foreground: hsl(229 10% 37%);
  --color-popover: hsl(0 0% 99%);
  --color-popover-foreground: hsl(229 63% 3%);
  --color-card: hsl(0 0% 99%);
  --color-card-foreground: hsl(229 63% 3%);
  --color-border: hsl(220 13% 91%);
  --color-input: hsl(220 13% 91%);
  --color-primary: hsl(355.63 90.57% 58.43%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(229 20% 90%);
  --color-secondary-foreground: hsl(229 20% 30%);
  --color-accent: hsl(229 28% 85%);
  --color-accent-foreground: hsl(229 28% 25%);
  --color-destructive: hsl(3 100% 50%);
  --color-destructive-foreground: hsl(3 0% 100%);
  --color-ring: hsl(229 100% 62%);

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

.dark {
  --color-background: hsl(229 41% 4%);
  --color-foreground: hsl(229 23% 99%);
  --color-muted: hsl(229 12% 14%);
  --color-muted-foreground: hsl(229 10% 63%);
  --color-popover: hsl(229 41% 5%);
  --color-popover-foreground: hsl(0 0% 100%);
  --color-card: hsl(229 41% 5%);
  --color-card-foreground: hsl(0 0% 100%);
  --color-border: hsl(215 27.9% 16.9%);
  --color-input: hsl(215 27.9% 16.9%);
  --color-primary: hsl(355.63 90.57% 58.43%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(229 14% 8%);
  --color-secondary-foreground: hsl(229 14% 68%);
  --color-accent: hsl(229 23% 17%);
  --color-accent-foreground: hsl(229 23% 77%);
  --color-destructive: hsl(3 89% 54%);
  --color-destructive-foreground: hsl(0 0% 100%);
  --color-ring: hsl(229 100% 62%);
}

body {
  font-family: var(--font-geist), sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  --sb-track-color: #f0f0f0;
  --sb-thumb-color: #ff6b6b;
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

.dark body {
  --sb-track-color: #09090f;
  --sb-thumb-color: #f53543;
}

* {
  border-color: var(--color-border);
  outline-color: color-mix(in srgb, var(--color-ring) 50%, transparent);
}

.hexagon-image {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
